@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Teko:wght@300..700&display=swap");
@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);

.leftSaman img:hover,
.rightSaman img:hover {
  transform: translateY(-10px);
}

/* .bg img:hover, .menu-Holder img:hover{
    transform: none;
} */

.menuHolder {
  position: absolute;
  top: 50px;
  left: -20px;
  width: 639px;
  z-index: 2000;
}
.projects,
.paintings {
  position: absolute;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  font-style: normal;
  color: #734820;
  cursor: pointer;
  z-index: 1000;
  top: 40px;
  left: 50px;
}

.paintings {
  top: 80px;
  left: 55px;
}

.holder {
  position: absolute;
  top: -50px;
  left: 75px;
  width: 84px;
  z-index: 60;
}

.paper {
  width: 180px;
  position: absolute;
  top: -5px;
  left: 20px;
  transform: rotate(370deg);
  z-index: 50;
}

.leftSaman {
  position: absolute;
  top: 380px;
  width: 411px;
  height: 510px;
  overflow: hidden;
  left: -74px;
  zoom: 0.85;
}
.pot1 {
  position: absolute;
  width: 203px;
  left: 217px;
  top: 110px;
  z-index: 100;
}

.barrel {
  position: absolute;
  width: 270px;
  left: 5px;
  top: 195px;
  z-index: 100;
}

.lamp {
  position: absolute;
  width: 130px;
  left: 60px;
  /* padding-top: 20px; */
  top: 0px;
  z-index: 101;
}

.lamp2 {
  position: absolute;
  width: 130px;
  left: 150px;
  top: 70px;
  z-index: 105;
  transform: scaleX(-1);
}

.table {
  position: absolute;
  width: 270px;
  left: 80px;
  top: 200px;
  z-index: 104;
}

.rightSaman {
  z-index: 100;
  position: absolute;
  top: 298px;
  min-width: 1000px;
  /* width: 963px;
    height: 437px; */
  /* overflow: hidden; */
  left: 453px;
  background-color: rgba(127, 255, 212, 0.212);
}
.rightBadaBarrel {
  position: absolute;
  top: 150px;
  left: 575px;
  width: 240px;
}

.rightChotaBarrel {
  position: absolute;
  top: 210px;
  left: 465px;
  width: 190px;
}

.globe {
  position: absolute;
  top: 20px;
  left: 625px;
  width: 120px;
}

.pot2 {
  position: absolute;
  top: 240px;
  left: 375px;
  width: 120px;
}
.pot3 {
  position: absolute;
  top: 110px;
  left: 515px;
  width: 100px;
}
.pot4 {
  position: absolute;
  top: 230px;
  left: 575px;
  width: 100px;
}
.coin {
  position: absolute;
  top: 330px;
  left: 155px;
  width: 140px;
}
.coin2 {
  position: absolute;
  top: 330px;
  left: 275px;
  width: 140px;
}

.chest {
  position: absolute;
  top: 150px;
  left: 675px;
  width: 370px;
}

.candle {
  position: absolute;
  top: 10px;
  width: 150px;
  right: 0px;
}

.wall {
  position: absolute;
  width: 100%;
  top: -2%;
}
.floor {
  position: absolute;
  min-width: 150%;
  top: 23%;
  /* top: 40%; */
  left: -25%;
}
.torch {
  z-index: 600;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: radial-gradient(
    circle at var(--x) var(--y),
    rgba(134, 119, 51, 0.092) 10%,
    rgba(0, 0, 0, 0.327) 40%
  );
}

.myContainer {
  position: absolute;
  /* border: 1px dotted white; */
  width: 75vw;
  height: 80vh;
  z-index: 50;
  left: 15%;
  top: 2%;
  /* display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%; */
}

.ModalButton {
  background-color: transparent;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: fit-content; */
  /* border-image: url(../public/frame2.png) 30 round; */
}

.gallery {
  display: flex;
  gap: 10px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* .photo {
  display: flex;
  justify-content: center;
}

.photoImg {
  max-width: 100%;
  height: 100%;
  max-height: 250px;
} */

/* img {
    max-width: 250px;
    max-height: 250px;
    align-self: auto;
  } */

.swiper {
  width: 100%;
  height: 100%;

  /* width: 240px;
  height: 320px; */
}

.swiperSlide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  width: auto;
  /* margin: 5px;
  text-align: center;
  font-size: 18px;
  background: #fff;*/
}

.swiperSlideImg {
  height: 100%;
  max-height: 90vh;
  max-width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 20px;
}

/* CSS */
.button85 {
  padding: 0.6em 1em;
  border: none;
  outline: none;
  color: rgb(174, 101, 28);
  background: #000000;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position: absolute;
  top: 200px;
  left: 50px;
}

.button85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.fill-form-btn {
  top: 260px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #3c3026;
  left: 0;
  top: 0;
  border-radius: 10px;
}
